<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/laptop.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title"><%= name %></h5>
        <p class="card-text"><%= description %></p>
        <button type="button" class="btn btn-primary">add to cart</button>
    </div>
</div>
<!--<div>-->
<!--    <h2>-->
<!--        <%= name %>-->
<!--    </h2>-->
<!--    <p>-->
<!--        <%= description %>-->
<!--    </p>-->
<!--    <p>-->
<!--        price: <%= price %>-->
<!--    </p>-->
<!--    <button type="button" class="btn btn-primary">add to cart</button>-->
<!--</div>-->
